<div class="filter-form">
  <h3>Filters</h3>
  <%= form_with url: streams_path, method: :get do |f| %>
    <div class="filter-form-content">
      <div class="filter-group">
      <label>Search</label>
      <%= f.text_field "filters[query]", value: @current_filters[:query],
          placeholder: "Search messages...",
          class: "form-input" %>
    </div>

    <% if @available_filters[:levels]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Log Level</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[levels]",
            options: @available_filters[:levels],
            selected: @current_filters[:levels],
            label: "Select Log Levels",
            id_prefix: "level" %>
      </div>
    <% end %>

    <% if @available_filters[:apps]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Application</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[app]",
            options: @available_filters[:apps],
            selected: @current_filters[:app],
            label: "Select Applications",
            id_prefix: "app" %>
      </div>
    <% end %>

    <% if @available_filters[:envs]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Environment</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[env]",
            options: @available_filters[:envs],
            selected: @current_filters[:env],
            label: "Select Environments",
            id_prefix: "env" %>
      </div>
    <% end %>

    <% if @available_filters[:controllers]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Controller</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[controller]",
            options: @available_filters[:controllers],
            selected: @current_filters[:controller],
            label: "Select Controllers",
            id_prefix: "controller" %>
      </div>
    <% end %>

    <% if @available_filters[:actions]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Action</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[action]",
            options: @available_filters[:actions],
            selected: @current_filters[:action],
            label: "Select Actions",
            id_prefix: "action" %>
      </div>
    <% end %>

    <% if @available_filters[:methods]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>HTTP Method</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[method]",
            options: @available_filters[:methods],
            selected: @current_filters[:method],
            label: "Select Methods",
            id_prefix: "method" %>
      </div>
    <% end %>

    <% if @available_filters[:paths]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Path</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[path]",
            options: @available_filters[:paths],
            selected: @current_filters[:path],
            label: "Select Paths",
            id_prefix: "path" %>
      </div>
    <% end %>

    <% if @available_filters[:status_codes]&.size.to_i > 1 %>
      <div class="filter-group">
        <label>Status Code</label>
        <%= render "solid_log/ui/shared/multiselect_filter",
            field_name: "filters[status_code]",
            options: @available_filters[:status_codes],
            selected: @current_filters[:status_code],
            label: "Select Status Codes",
            id_prefix: "status_code" %>
      </div>
    <% end %>

    <div class="filter-group">
      <label>Duration (ms)</label>
      <div class="time-inputs">
        <%= f.number_field "filters[min_duration]", value: @current_filters[:min_duration],
            placeholder: "Min",
            class: "form-input form-input-small" %>
        <%= f.number_field "filters[max_duration]", value: @current_filters[:max_duration],
            placeholder: "Max",
            class: "form-input form-input-small" %>
      </div>
    </div>

    <div class="filter-group">
      <label>Time Range</label>
      <div class="time-inputs">
        <%= f.datetime_field "filters[start_time]", value: @current_filters[:start_time],
            placeholder: "Start time",
            class: "form-input form-input-small" %>
        <%= f.datetime_field "filters[end_time]", value: @current_filters[:end_time],
            placeholder: "End time",
            class: "form-input form-input-small" %>
      </div>
    </div>

    <div class="filter-group">
      <label>Request ID</label>
      <%= f.text_field "filters[request_id]", value: @current_filters[:request_id],
          placeholder: "Filter by request...",
          class: "form-input" %>
    </div>

    <div class="filter-group">
      <label>Job ID</label>
      <%= f.text_field "filters[job_id]", value: @current_filters[:job_id],
          placeholder: "Filter by job...",
          class: "form-input" %>
    </div>

    <%# Dynamically render promoted field filters with facets %>
    <% @available_filters.each do |key, values| %>
      <% next if [:levels, :apps, :envs, :controllers, :actions, :methods, :paths, :status_codes].include?(key) %>
      <% next unless values&.size.to_i > 1 %>

      <% field = SolidLog::Field.promoted.find_by(name: key.to_s) %>
      <% next unless field %>

      <div class="filter-group">
        <label><%= key.to_s.titleize %></label>

        <% case field.filter_type %>
        <% when "multiselect" %>
          <%= render "solid_log/ui/shared/multiselect_filter",
              field_name: "filters[#{key}]",
              options: values,
              selected: Array(@current_filters[key]),
              label: "Select #{key.to_s.titleize}",
              id_prefix: key.to_s %>

        <% when "range" %>
          <div class="time-inputs">
            <%= f.number_field "filters[min_#{key}]", value: @current_filters["min_#{key}".to_sym],
                placeholder: "Min",
                class: "form-input form-input-small" %>
            <%= f.number_field "filters[max_#{key}]", value: @current_filters["max_#{key}".to_sym],
                placeholder: "Max",
                class: "form-input form-input-small" %>
          </div>

        <% when "contains" %>
          <%= f.text_field "filters[#{key}]", value: @current_filters[key],
              placeholder: "Search #{key.to_s.titleize}...",
              class: "form-input" %>

        <% when "exact" %>
          <%= f.select "filters[#{key}]",
              options_for_select([["All #{key.to_s.titleize}", ""]] + values.map { |v| [v, v] }, @current_filters[key]),
              class: "form-select" %>
        <% end %>
      </div>
    <% end %>

    <%# Render token-based promoted fields (no facets needed) %>
    <% SolidLog::Field.promoted.where(filter_type: "tokens").each do |field| %>
      <% next unless SolidLog::Entry.column_names.include?(field.name) %>
      <div class="filter-group">
        <label><%= field.name.titleize %></label>
        <%= f.text_field "filters[#{field.name}]", value: @current_filters[field.name.to_sym],
            placeholder: "Enter #{field.name.titleize} (comma-separated)...",
            class: "form-input" %>
        <small class="form-hint">Enter multiple values separated by commas</small>
      </div>
    <% end %>
    </div>

    <div class="filter-actions">
      <%= f.submit "Apply Filters", class: "btn btn-primary btn-block" %>
      <%= link_to "Clear", streams_path, class: "btn btn-secondary btn-block" %>
    </div>
  <% end %>
</div>
